<div class="new-cont">
  <div class="form-container">
    <h1>Edit task</h1>
    <%= form_for(@task) do |f| %>
      <div class="form-group">
          <%= f.label :title %> <br>
          <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :details %> <br>
          <%= f.text_field :details, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.check_box :completed %>
          <%= f.label :completed %>
      </div>
      <%= f.submit "Finish!", class: "btn btn-success btn-block" %>
    <% end %>
    <%= link_to "Back to list", tasks_path %>
  </div>
</div>
