<div class="index-container">

  <div class="profile-bar">
    <h1><%= Date.strptime(Time.now.to_s , "%Y-%m-%d %H:%M:%S %Z").strftime("%m/%d/%Y") %></h1>

    <%= link_to("<i class='fas fa-plus-circle'></i> Add a new task".html_safe, "/tasks/new", class: "btn btn-success") %>
  </div>

  <div class="tasks-bar">

    <div class="tasks">
      <% @tasks.each do |task|%>
        <% if task.completed == false %>
          <div class="title-content">

            <h3><%= task.title %></h3>

            <div class="btn-group dropleft">
              <button style=" color: black; background: white; border: none;" type="button" class="btn btn-warning drop-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='fas fa-ellipsis-v'></i>
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Delete", task, method: "delete", class: "dropdown-item" %>
                <%= link_to "Edit this task", edit_task_path(task), class: "dropdown-item" %>
              </div>

            </div>


          </div>

          <p><strong>Details:</strong><br> <%= task.details %> </p>




        <% else %>
          <h4><%= link_to task.title, task %> <%= link_to "<i class='fas fa-ellipsis-v'></i>".html_safe, task, method: "delete" %></h4>

          <p> <strong>Details:</strong><br><%= task.details %> </p>
        <% end %>
      <% end %>
    </div>

  </div>

</div>


<!--
<div class="subNavbar">
  <div class="subNavbar-links subnavbar-show">
    <ul class="nav subNavbar-links subnavbar-show" id="myTab" role="tablist">
      <li>
        <a class="subNavbarLink active" data-toggle="tab" href="#description" role="tab">Description</a>
      </li>
      <li>
        <a class="subNavbarLink" data-toggle="tab" href="#technical-details" role="tab">Technical Details</a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content" id="myTabContent">

  <div id="description" class="tab-pane fade show active" role="tabpanel">
    <p>hi</p>
  </div>

  <div id="technical-details" class="tab-pane fade show" role="tabpanel">
    <p>Level:</p>
  </div>

</div>
 -->
